
<div class="container">
    <h1>Manage Events </h1>
    
    <br>
    
    <p><%= link_to "Create Event", new_event_path, class: "btn btn-default" %></p>
    
    <table class="table">
    <thead>
      <tr>
        <th>Event Name</th>
        <th>Date</th>
        <th>Location</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% current_user.events.each do |event| %>
      <tr>
        <td><%= link_to event.name, event_path(event) %></td>
        <td><%= event.starts_at %></td>
        <td><%= event.location %></td>
        <td class="manage-actions">
            <%=link_to "Edit Event", edit_event_path(event), class: "btn btn-sm btn-default" %>
            <%=link_to "Delete Event", event_path(event), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-sm btn-default" %>
            <%=link_to "View Registrations", event_registrations_path(event), class: "btn btn-sm btn-default" %>
        </td>    
      </tr>
      <% end %>
    </tbody>
  </table>
    

    
</div>