<%= form_for (@event), :html => {multipart: true, :class => "form-horizontal"} do |f| %>

    <%= render 'shared/errors', object: @event %>
    
    <div class="col-md-12">
        <%= f.label :name, "Name *", class: "control-label" %>
        <%= f.text_field :name, class: "form-control" %>
    </div>
    
    <div class="col-md-12">
        <%= f.label :description, "Description *", class: "control-label"%>
        <%= f.text_area :description, cols: 100, rows: 10, class: "form-control" %>
    </div>
    
    <div class="col-md-12">
        <%= f.label :location, "Location *", class: "control-label" %>
        <%= f.text_field :location, class: "form-control" %>
    </div>
   
    <div class="col-md-12">
        <%= f.label :price, "Price *", class: "control-label" %> 
        <%= f.number_field :price, class: "form-control" %>
    </div>

    <div class="col-md-12">
        <%= f.label :starts_at, "Date & Time *", class: "control-label" %> <br>
        <%= f.datetime_select :starts_at, class: "form-control" %>
    </div>
    
    <div class="col-md-12">
        <%= f.label :capacity, "Capacity *", class: "control-label" %> <br>
        <%= f.number_field :capacity, class: "form-control" %>
    </div>
    
    
    <div class="">
        <div class="col-md-9">
           <%= f.label :image, "Image", class: "control-label" %> <br>
           <%= f.file_field :image, accept: "image/jpeg, image/gif, image/png", class: "form-control" %> 
        </div>
        
        <div class="col-md-3"><%= image_tag(@event.image.url, size: "") if @event.image? %></div>
    </div>
    
    <div class="col-md-12">
        <%= f.submit class: "btn btn-success" %>
        <%= link_to "Cancel", events_path, class: "btn btn-danger" %>
    </div>

<% end %>


<script>
  $('#event_image').bind('change'), function(){
      size_in_megabytes = this.files[0].size/1024/1024;
      if (size_in_megabytes) > 5 {
        alert('Maximum file size is 5MB. Please choose a smaller file.');
      }
  });    
</script>
