<%= form_tag events_path, method: :get do %>
    
    <!--Keyword Search-->
    <div class="col-md-3">
        <%= text_field_tag :q, "", placeholder: "Keyword", class: "form-control" %>
    </div>
    
    <!--General Location Search-->
    <!--<div class="col-md-3">-->
    <!--    <%= text_field_tag :q, "", placeholder: "Location", class: "form-control" %>-->
    <!--</div>-->
    
    <!--Search by Location-->
    <div class="col-md-3">
        <%= text_field_tag "search[location]", "", class: "form-control", placeholder: "Location ie 'boston' or 'ny' " %>
    </div>
    
    <!--Search by Date Range-->
    <div class="col-md-3">
        <div class="input-group input-daterange date">
        <%= text_field_tag "search[starts_at_start]", "", class: "form-control", placeholder: "From date" %>
        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
        <%= text_field_tag "search[starts_at_end]", "", class: "form-control", placeholder: "To date" %>
        </div>
    </div>
    
    <!--Submit Search-->
    <div class="col-md-3">
        <%= button_tag "Find Events", class: "btn btn-success btn-wide" %>
    </div>

<% end %>
