<!-------------JUMBOTRON--------------------->
    
<div class="jumbotron">
    <div class="container">
        <h1><%= @event.name %></h1>
        <!--<h3>Month, Date, Year</h3>-->
        <h3><%= @event.location %></h3>
        
        <p><%= register_link(@event) %></p>
    </div>
    
    
    <!-------------QUICK EVENT INFO--------------------->
    <div class="center quick-info">
        <div class="container">
            <div class="col-md-4">Date: <%= @event.starts_at %></div>
            <div class="col-md-4">Location: <%= @event.location %></div>
            <div class="col-md-4"><%= pluralize(@event.tickets_available, 'Ticket') %> Available</div>
        </div>
    </div>
</div>
    
    
<!-------------FULL EVENT INFO--------------------->

<div class="section center">
    <div class="container">
        <h1>About <%= @event.name %></h1>
        
        <p class="pad15"><%= @event.description %></p>
        
        <%= register_link(@event) %> &nbsp;
        <button type="button" class="btn btn-lg btn-info"><i class="fa fa-heart-o" aria-hidden="true"></i> Save</button>
    </div>
</div>
    
    
<!-------------EVENT SCHEDULE--------------------->

<div class="center">
    <div class="container">
        <h1>Event Schedule</h1>
        
        <button type="submit" class="btn btn-default">Download Schedule</button>
        
        <div class="col-md-offset-3 event-schedule-section" style="width: 550px; margin-top: 30px">
            <ul class="nav nav-pills nav-justified">
              <li role="presentation" class="active"><a href="#profile">Day 1</a></li>
              <li role="presentation"><a href="#messages">Day 2</a></li>
              <li role="presentation"><a href="#settings">Day 3</a></li>
            </ul>
            
            <table class="table table-bordered center" style="margin-top: 20px;">
                <thead >
                  <tr>
                    <th>Time</th>
                    <th>Title</th>
                    <th>Exhibitor</th>
                    <th>Venue</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>10:00 AM</td>
                    <td>Event Title</td>
                    <td>Exhibitor</td>
                    <td>Location</td>
                  </tr>
                  <tr>
                    <td>11:00 AM</td>
                    <td>Event Title</td>
                    <td>Exhibitor</td>
                    <td>Location</td>
                  </tr>
                  <tr>
                    <td>1:00 PM</td>
                    <td>Event Title</td>
                    <td>Exhibitor</td>
                    <td>Location</td>
                  </tr>
                  <tr>
                    <td>2:00 PM</td>
                    <td>Event Title</td>
                    <td>Exhibitor</td>
                    <td>Location</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>    
   
    
<!-------------SPEAKERS / EXHIBITORS--------------------->
<div class="section">
    <div class="container">
        <h1 class="center" style="margin-bottom: 30px;">Exhibitors</h1>
        
        <div class="col-md-4">
            <p class="center"><i class="fa fa-user fa-5x" aria-hidden="true" style="margin-bottom: 10px;"></i></p>
            
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>
            
        </div>
        
        <div class="col-md-4">
            <p style="text-align: center;"><i class="fa fa-user fa-5x" aria-hidden="true" style="margin-bottom: 10px;"></i></p>
            
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>
            
        </div>
        
        <div class="col-md-4">
            <p style="text-align: center;"><i class="fa fa-user fa-5x" aria-hidden="true" style="margin-bottom: 10px;"></i></p>
            
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>
            
        </div>
        
    </div>
</div>
    
    
<!-------------PRICING--------------------->
<div class="section">
    <div class="container">
        <h1 class="center" style="margin-bottom: 30px;">Pricing</h1>
        
        <div class="col-md-4">
            <p class="center"><i class="fa fa-usd fa-4x" aria-hidden="true"></i></p>
            
            <p class="center"><strong>Tier 1</strong></p>
            
            <ul>
                <li>Lorem ipsum dolor sit amet</li>
                <li>consectetuer adipiscing elit</li>
                <li>sed diam nonummy nibh euismod</li>
            </ul>
        </div>
        
        <div class="col-md-4">
            <p class="center"><i class="fa fa-usd fa-4x" aria-hidden="true"></i></p>
            
            <p class="center"><strong>Tier 2</strong></p>
            
            <ul>
                <li>Lorem ipsum dolor sit amet</li>
                <li>consectetuer adipiscing elit</li>
                <li>sed diam nonummy nibh euismod</li>
            </ul>
        </div>
        
        <div class="col-md-4">
            <p class="center"><i class="fa fa-usd fa-4x" aria-hidden="true"></i></p>
            
            <p class="center"><strong>Tier 3</strong></p>
            
            <ul>
                <li>Lorem ipsum dolor sit amet</li>
                <li>consectetuer adipiscing elit</li>
                <li>sed diam nonummy nibh euismod</li>
            </ul>
        </div>
        
        
    </div>
    <div class="center section register-section">
        <div class="container">
            <%= register_link(@event) %> 
        </div>
    </div>
</div>    
    
    
<!-------------SPONSORS--------------------->
<div class="">
    <div class="container center">
        <h1 style="text-align: center; margin-bottom: 30px;">Sponsors</h1>
        
        <div class="col-md-2"><i class="fa fa-y-combinator fa-5x" aria-hidden="true"></i></div>
        <div class="col-md-2"><i class="fa fa-y-combinator fa-5x" aria-hidden="true"></i></div>
        <div class="col-md-2"><i class="fa fa-y-combinator fa-5x" aria-hidden="true"></i></div>
        <div class="col-md-2"><i class="fa fa-y-combinator fa-5x" aria-hidden="true"></i></div>
        <div class="col-md-2"><i class="fa fa-y-combinator fa-5x" aria-hidden="true"></i></div>
        <div class="col-md-2"><i class="fa fa-y-combinator fa-5x" aria-hidden="true"></i></div>
    </div>
    
    <div class="center section">
         <button type="button" class="btn btn-default btn-lg">Become A Sponsor</button> 
        </div>
</div>    
    
    
<!-------------MEDIA & CONTACT--------------------->
<div class="section">
    <div class="container">
        <div class="col-md-5 col-md-offset-1 border-box center">
            <h3>Contact Organizer</h3>
            <p style=""><i class="fa fa-user fa-5x" aria-hidden="true" style="margin-bottom: 10px;"></i></p>
            <p>{Organizer Name}</p>
            <p><i class="fa fa-facebook" aria-hidden="true"></i> <i class="fa fa-twitter" aria-hidden="true"></i></p>
            <p><button type="button" class="btn btn-default"><i class="fa fa-envelope-o" aria-hidden="true"></i> Contact</button></p>
        </div>
        
        <div class="col-md-5 border-box center">
            <h3>Media Kit</h3>
            
            <p><i class="fa fa-file-pdf-o" aria-hidden="true" style="font-size: 10em;"></i></p>
            
            <p><button type="button" class="btn btn-default"><i class="fa fa-download" aria-hidden="true"></i> Download</button></p>
        </div>
    </div>
</div>    

            
<!-------------LOCATION MAP--------------------->  

 <div class="section">
    <iframe style="width: 100%;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d755.6543390181715!2d-73.98621157322191!3d40.74844454332295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a9b3117469%3A0xd134e199a405a163!2sEmpire+State+Building!5e0!3m2!1sen!2sus!4v1479156917396" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
    
    
<!-------------UPCOMING EVENTS & SUBSCRIBE--------------------->

<div class="section">
    <div class="container">
        <div class="col-md-6">
            <h3>Upcoming Events</h3>
            <div class="col-md-5">
                <p><i class="fa fa-picture-o fa-5x" aria-hidden="true"></i></p>
                <p><strong>Event Name</strong> <br>
                Event Location<br>
                Event Date</p>
            </div>
            
            <div class="col-md-5">
                <p><i class="fa fa-picture-o fa-5x" aria-hidden="true"></i></p>
                <p><strong>Event Name</strong> <br>
                Event Location<br>
                Event Date</p>
            </div>
            
        </div>
        
        <div class="col-md-6">
            <h3>Subscribe for Updates</h3>
            
            <form class="form-inline">
              <div class="form-group">
                <label for="email"></label>
                <input type="email" class="form-control" id="email" placeholder="Email">
              </div>
              
              <button type="submit" class="btn btn-default">Subscribe</button>
            </form>
        </div>
    </div>
</div>

<div class="container section">
    <!--EDIT EVENT-->
    <%=link_to "Edit Event", edit_event_path(@event), class: "btn btn-default" %>
    
    <!--DELETE EVENT-->
    <%=link_to "Delete Event", event_path(@event), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-default" %>
    
    <!--VIEW REGISTRATIONS-->
    <%=link_to "View Registrations", event_registrations_path(@event), class: "btn btn-default" %>
</div>

