<!-------------NAVBAR & MENU--------------------->
    
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      
      <%= link_to "BioBM Conference", root_path, class: "navbar-brand" %>
    </div> <!-- .navbar-header -->
    
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li>
          
          <!--------------LOGGED IN------------>
          <% if user_signed_in? %>
          
            <li><%= link_to "Events", events_path %></li>
            
            <!--Signed in as conference rep-->
            <% if current_user.conferenceRep? %>
            
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-user" aria-hidden="true"></i> <%= current_user.first_name %> <%= current_user.last_name %>
                <span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-menu-left">
                  <li><%= link_to "Profile", current_user %></li>
                  <li><%= link_to "Manage Events", manage_events_path(current_user) %></li>
                  <li><%= link_to "Create Event", new_event_path %></li>
                  <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
            
            <!--Signed in as general user-->
            <% else %>
            
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-user" aria-hidden="true"></i> <%= current_user.first_name %> <%= current_user.last_name %>
                <span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-menu-left">
                  <li><%= link_to "Profile", current_user %></li>
                  <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
            
            <% end %> <!-- End (signed in as conference rep or general user) -->
          
          <!--NOT LOGGED IN-->
          <% else %>
          
            <li><%= link_to "Login", new_user_session_path %></li>
            
          <% end %> <!-- End (user signed in) -->
          
        </ul>
    </div> <!-- .navbar-collapse -->
  </div>
</nav>




                
                
            
            